<h1>Вы успешно прошли регистрацию</h1>

<p>Ваше имя: {{ name }}</p>
<p>Ваш логин: {{ login }}</p>
<hr/>
<img src="{{ email.image('@images/emailIcon2.png') }}" alt="Logo">
<p>
    Для авторизации пройдите по <a href="http://localhost:1780/login">ссылке</a>
</p>